@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Pixelify+Sans:wght@400..700&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
    themes: retro --default;
}

@theme {
  --font-pixelify: "Pixelify Sans", sans-serif; 
  --font-ballet: "Ballet", sans-serif; 
}